includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon

	- extension.neon

parameters:
    scanFiles:
        - vendor/yiisoft/yii2/Yii.php

    yii2:
        config_path: tests/assets/yii-config-valid.php
